<div class="jumbotron jumbotron-fluid"
  style="background-size: cover; background-image: url(https://images.unsplash.com/photo-1562514003-4ad85ecfc1a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
  <div class="container">
    <h1 class="display-4 text-center" style="font-weight: bold; color: red">Burgers on Burgers!</h1>
    <h2 class="lead text-center" style="font-weight: bold; color: red">Get your Burger on!</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-5 text-center">
      <h2>Munch that munch!</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-2"></div>

    <div class="float-right col-sm-5 text-center">
      <h2>Burgers Conquered!</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devaured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>


  <div class="text-center">
    <h2>Order a burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <div class="form-group">
        <label for="devoured">Is this your order?</label><br>
        <input type="radio" name="devouered" value="0" checked> Lets Eat!!
      </div>

      <button type="submit">Serves Up!</button>
    </form>
  </div>
</div>