<li>
    {{name}}

    {{#if devoured}}
    <button class="change-devoured btn-success" data-id="{{id}}" data-newdevour="{{devoured}}">
        Munch!
    </button>{{/if}}

    <button class="delete-burger btn-danger" data-id="{{id}}">Bad Burger!!</button>
</li>